body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
    display: block;
}

.header{
    background: #1d1e20;
    display: flex; /*Display flex para colocar cada item de um lado*/
    justify-content: space-between; /* Aqui cada item para para um lado */
    align-items: center; /*Aqui ele alinha os itens no centro*/
    padding: 20px;
}

.menu{
    display: flex; /*Aqui ele transforma o menu em flex, fazendo que fiquem um do lado do outro*/ 
    margin-left: 20px; /*Aqui ele da o espaçamento*/
}

.menu li a {
    display: block;
    padding: 10px;
}

.flex{
    display: flex; /*Mantem as imagens uma do lado da outra em conjunto*/
    flex-wrap: wrap;
    max-width: 800px; /*Ele mantem um limite de largura*/
    margin: 0 auto; /*Ele cria uma margem e se mantem no centro dela*/
}

.flex > div {
    flex: 1 1 200px; /*Ele mantem uma base e se nao consegue atingir a base ele quebra*/
    margin: 10px; /*Ele mantem as imagens com uma distancia entre elas*/
}

