body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
    display: block;
}

.header{
    background: #1d1e20;
    display: flex; /*Display flex para colocar cada item de um lado*/
    justify-content: space-between; /* Aqui cada item para para um lado */
    align-items: center; /*Aqui ele alinha os itens no centro*/
    padding: 20px;
}

.menu{
    display: flex; /*Aqui ele transforma o menu em flex, fazendo que fiquem um do lado do outro*/ 
    margin-left: 20px; /*Aqui ele da o espaçamento*/
}

.menu li a {
    display: block;
    padding: 10px;
}

.flex{
    display: flex; /*Mantem as imagens uma do lado da outra em conjunto*/
    flex-wrap: wrap;
    max-width: 800px; /*Ele mantem um limite de largura*/
    margin: 0 auto; /*Ele cria uma margem e se mantem no centro dela*/
}

.flex > div {
    flex: 1 1 200px; /*Ele mantem uma base e se nao consegue atingir a base ele quebra*/
    margin: 10px; /*Ele mantem as imagens com uma distancia entre elas*/
}

/*CSS GRID 1*/

.grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*Aqui ele quer que as colunas se dividam - Ele também usa o repeat para repetir uma ação no numero de vezes determinado para formar as colunas*/
    max-width: 800px; /*de novo determinndo tamanho total da margem*/
    padding: 10px;
    margin: 0 auto;
    grid-gap: 20px; /*Ele deu novamente uma margem entre os grid*/
}

.grid1 > div:nth-child(n + 4) { /*Após o : ele divide os itens a partir do escolhido na () para modificação*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.grid1 > div.anuncio{
    grid-column: 1; /*Posiciona o anúncio na primeira coluna*/
    grid-row: 2 / 5; /*Posiciona o anúncio na parte que ele está*/
    display: block;
}

/*CSS GRID 2*/

.grid2{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.sidebar > div {
    margin-bottom: 10px;
}

